* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* border: 2px solid #0000ff; */
  background-color: #d5e1ef;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: never;
  height: 100vh;
}

main {
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

h1 {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 22px;
  color: #1f314f;
  text-align: center;
}

p {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  text-align: center;
  color: #7d889e;
  letter-spacing: 0.19px;
  line-height: auto;
}

.card {
  /* border: 2px solid green; */
  display: flex;
  flex-direction: column;
  max-width: 320px;
  height: auto;
  padding: 1rem;
  background-color: white;
  border-radius: 20px;
  align-items: center;
  box-shadow: 0px 25px 25px rgba(0, 0, 0, 0.047);
  margin: 1rem;
}

.card-qr-code img {
  /* border: 2px solid black; */
  /* max-width: 288px;
  max-height: 288px; */
  max-width: 100%;
  margin-bottom: 1.25rem;
  border-radius: 10px;
}

.card-text {
  /* border: 2px solid red; */
  display: flex;
  max-width: 100%;
  flex-direction: column;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin-bottom: 1.5rem;
}

.card-text-heading {
  /* border: 2px solid blue; */
  max-width: 100%;
  margin-bottom: 1rem;
}

.attribution {
  /* border: 2px solid blue; */
  position: absolute;
  bottom: 10px;
  font-size: 11px;
  text-align: center;
  font-family: "Outfit", sans-serif;
  
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
